.boton {
    text-decoration: none;
    display: inline-block;
    width: 250px; /* Ajusta según necesites */
    border-radius: 20px;
    transition: transform 0.3s; /*importante*/
}

.boton:hover {
    transform: scale(1.1);
}

.imagen {
    position: relative;
    width: 100%;
}

.imagen img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.overlay h3 {
    font-size: 18px;
    color: black;
    font-family: "Times New Roman", serif;
    margin: 0;
}
